# deployment
streamlit==0.69.0

# packaging
pip>=9
python-dotenv>=0.15.0
setuptools>=26
twine==3.3.0
wheel>=0.29

# data science
numpy==1.19.5
pandas==1.1.2
scikit-learn==0.22
nltk==3.5


# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
tweepy==3.10.0

# utilities
six>=1.14
joblib
memoized-property
termcolor
